
.title {
  text-align: center;
}

.btn-space {
  margin-right: 200px;
}

.afterAlert {
  margin-top: 30px;
}

.btn-register {
  margin-top: 10px;
}

.error {
  color: crimson;
}

.grid-container {
  padding: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.user-card {
  padding: auto;
  text-align: left;
}

.axios-btn {
  align-content: center;
}

.footer {
  color: wheat;
  position: fixed;
  left: 45%;
  top: 90%;
}


img{
  height : 200px;
  width: 200px;
}

.container{
    margin-top: 6%;
    width: 20%;
}

.laptop-registraion-container{
  width: 100%;
  padding: 20px;
}

.laptop-form{
  display: grid;
}


.fixed-sidebar {
  padding-top: 80px;
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  background-color: transparent;
}


.dashboard-content{
  padding-left: 50px;
}


.nav-item{
  font-size: larger;
}


.radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reduced-font {
  font-size: 14px; 
  color: white;
}

body{
  background-color: rgba(50, 115, 220, 0.3);
}


